{% extends 'cats/base/base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}
{% block content %}


			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
					<h3>Available</h3>
					<strong> 
											 If you wanna adopt a kitty, please contact us at info@pikicode.com or visit our shelter by appointment.
											 Location: 14736 Valley Blvd, La Puente, CA</strong>
							<hr>
						<div class="row gtr-200">
							
							
								<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="{% static 'cats/images/ado-01.jpeg' %}" alt=""  class="img-index"/></a>
										<div class="inner">
											<header>
												<h2>9周大小蓝猫一只 
												
												</h2>
												<p>9 weeks, British Shorthair.</p>
											</header>
											<p>性格比较安静，也许是因为流浪，胆子比较小。</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="{% static 'cats/images/ado-02.png' %}" alt="" class="img-index" /></a>
										<div class="inner">
											<header>
												<h2>初生一窝</h2>
												<p>Newborn cats.</p>
											</header>
											<p>猫咪都很健康活泼，也在茁壮成长中。现在还和大猫粘乎得很。</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="{% static 'cats/images/ado-03.jpg' %}" alt="" class="img-index"/></a>
										<div class="inner">
											<header>
												<h2>10岁, 安静胆小, rowland</h2>
												<p>Ten years old.</p>
											</header>
											<p>性格温顺乖巧，不烦人，爱干净，毛发都很好看。</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="{% static 'cats/images/ado-04.jpeg' %}" alt="" class="img-index"/></a>
										<div class="inner">
											<header>
												<h2>1岁半, 男, 亲人, 活泼, 疫苗齐全, 坐标ontario</h2>
												<p>Male.</p>
											</header>
											<p>眼神比较拽，但是性格活泼黏人，身体健康。</p>
										</div>
									</section>

							</div>
								<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="{% static 'cats/images/ado-05.jpeg' %}" alt="" class="img-index"/></a>
										<div class="inner">
											<header>
												<h2>两只小猫，活泼可爱，最好两只一起领养。</h2>
												<p>Two black kittens.</p>
											</header>
											<p>比较活蹦乱跳的猫喵，两只一起玩耍有伴，习惯了互相的陪伴。</p>
										</div>
									</section>

							</div>
								<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="{% static 'cats/images/ado-06.jpeg' %}" alt="" class="img-index"/></a>
										<div class="inner">
											<header>
												<h2>5周大小猫，黏人，胆子暂时比较小，不敢外出。</h2>
												<p>5 weeks.</p>
											</header>
											<p>比较黏人，爱玩玩具，对外界有好奇心但还不敢动。</p>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>
{% endblock %}
{% block extra_js %}
{% endblock extra_js %}