{% extends 'cats/base/base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}
{% block content %}
<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-medium">
								<div id="content">

									<!-- Content -->
										<article>

											<h2>You can make a difference.</h2>

											<p>Donations to the our organization enhance the quality of life for shelter 
											and other animals by funding animal supplies, foods, improvements to Animal 
											Shelters and other animal welfare-related projects.</p>

											<h3>More intriguing information</h3>
											<p>We accept online donations and donations by visiting our shelters in La Puente, CA.</p>
											<p>If you would like to adopt a cat or more but are worried about you can not afford one, 
											you can always get what you need from us to take good care of the kiiten.</p>
											 <strong> Location: 14736 Valley Blvd, La Puente, CA</strong>
										</article>
					
								</div>
							</div>
							<div class="col-4 col-12-medium">
								<div id="sidebar">

									<!-- Sidebar -->
										<section>
											<h3>Donate</h3>
											<p> We will disclose the donations we receive each month and
											 the details of how we spend the donations. </p>
											<footer>
												<!-- <a href="#" class="button icon solid fa-info-circle">Scan </a> -->
											</footer>
										</section>

										<section>
										<!--	<h3>Subheading</h3>
											<ul class="style2">
												<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
												<li><a href="#">Ornare in hendrerit in lectus</a></li>
												<li><a href="#">Semper mod quis eget mi dolore</a></li>
												<li><a href="#">Quam turpis feugiat sit dolor</a></li>
												<li><a href="#">Amet ornare in hendrerit in lectus</a></li>
												<li><a href="#">Semper mod quisturpis nisi</a></li>
											</ul>-->
											<img src="{% static 'cats/images/address.png' %}" alt="" class="img-index">
										</section>

								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}
{% block extra_js %}
{% endblock extra_js %}