/secure
/media

##########django / python
__pycache__/
*.py[cod]
*$py.class
MANIFEST
*.log
.DS_Store
venv/
.venv/

############## node js
node_modules/
.npm
.env
.env.test
web_modules/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json